[2015-11-26 16:40] pixelastic opened #1 "Do not copy configs"
This might be a silly qestion, but why do we `COPY configs /root/configs` in the `Dockerfile`?

We pass the config with `-e CONFIG` when starting `docker run` anyway, so I'm not sure why the file needs to be in the image?

[2015-12-02 21:52] #1 closed, assigned to nobody

[2015-12-24 00:54] redox opened #4 "Ability to omit a selector"
Currently if your configuration doesn't specify a `lvlX` selector, it will fail with a bad selector exception.

[2015-12-25 18:11] #4 closed, assigned to nobody

[2015-12-28 15:24] redox opened #7 "Do not build any records with lvl0"
On some websites like [minutedock.com](https://minutedock.com/help/), even if the documentation is well organized into main categories (`lvl0`) each section/article has its own page.

![screen shot 2015-12-28 at 16 22 05](https://cloud.githubusercontent.com/assets/29529/12020680/6304ccb2-ad7f-11e5-888f-b0480ef2cd8a.png)

As a consequence, the record reflecting the `lvl0` is created on every single

[2015-12-28 15:56] redox opened #9 "Disable removeWordsIfNoResults=allOptional"
I really think that's too confusing, I would remove it.

[2015-12-29 12:40] redox opened #11 "strip_chars is not used anymore"
what was it for? (https://github.com/algolia/documentation-scrapper/blob/784266d6373347f2e07725bc2f8c222ca45543fc/src/documentation_spyder.py#L120-L126)

[2015-12-29 14:14] ElPicador opened #12 "Allowing defaut_value for selectors"
It will be useful to be able to specify a default value for a selector if such a selector does not match anything on the page.

We will take advantage of the "new" syntax of the selectors allowing for objects instead of plain string. We'll provide a `default_value` key that will be used when the specified selector does not match anything.

By also allowing for empty selectors, this will let us "ha

[2015-12-29 15:11] ElPicador opened #13 "Crawl JS generated docs"
Some documentation are generated client side with JS (ex: http://docs.prezly.com/, https://gns3.com/support/docs/quick-start-guide-for-windows-us).

It would be nice to be able to parse them

[2015-12-30 13:20] ElPicador opened #17 "If in the DOM `lvln` is after `lvln+1` it generates non full records"
For example, on this website: https://www.getpostman.com/docs/consuming_api_documentation

The DOM for `lvl0` is after the DOM for `lvl1`, as seen here:
<img width="1431" alt="capture d ecran 2015-12-30 14 16 24" src="https://cloud.githubusercontent.com/assets/16667/12051212/968094d6-af00-11e5-99d0-8f80bd9aefb0.png">

I think the issue is [here](https://github.com/algolia/documentation-scrapper/bl

[2015-12-31 14:48] dustincoates opened #19 "TypeError: expected string or buffer"
I'm getting this error independent on a number of different configs. (For example, received it on lodash and chef).

[code]

[2015-12-31 15:15] dustincoates opened #20 "TypeError: list indices must be integers, not str"
Got this on Chef, Lodash, and one I was using for Go.

[code]

[2016-01-04 10:40] pixelastic opened #22 "Documentation: min_indexed_level"
We should add a explanation of what `min_indexed_level` does, as per #8

[2016-01-04 14:26] #19 closed, assigned to nobody

[2016-01-04 16:35] #7 closed, assigned to nobody

[2016-01-05 10:04] #22 closed, assigned to nobody

[2016-01-05 10:05] pixelastic opened #28 "Add tests to Travis"

[2016-01-05 10:14] pixelastic opened #29 "Tests: Add tests for `min_indexed_level`"

[2016-01-05 14:14] pixelastic opened #31 "Allowing XPath for global selectors"
On some documentation (see http://doc.craft.ai/tutorials/doc/1/index.html or any GitBook doc), the hierarchy is in the sidebar and not in the main markup.

We can usually fix that with _global_ selectors (see #32), but sometimes the selector is too complex to be handled by CSS alone, and we need to resort to XPath

![image](https://cloud.githubusercontent.com/assets/283419/12117112/ab743ace-b3be-1

[2016-01-05 15:51] pixelastic opened #32 "Allowing global selectors"
The selectors we can currently specify are only _scoped_ selectord. It means that, for any given `lvlX` element, in order to get its `lvl{X-1}` and `lvl{X-2}` parents, we have to check the DOM tree.

It works well for correctly crafted HTML, but fails as soon as the hierarchy is not in the HTML DOM order. This happens often when the hierarchy is in a sidebar, while the content is in the main part

[2016-01-05 15:52] #17 closed, assigned to nobody

[2016-01-05 16:37] pixelastic opened #33 "Milestone v2"
Here is the checklist to things to be done before releasing DocSearch v2. The v2 will officially be merged in the docsearch.js repo, thus making the project public. We will also update docsearch.js to v2.0 and keep the two projects in sync.
## Improvements to the scraper
- [x] Allowing global selectors #32
- [x] Allowing XPath for global selectors #31
- [x] Allow the removing of some unwanted char

[2016-01-05 17:16] #28 closed, assigned to pixelastic

[2016-01-05 17:38] pixelastic opened #34 "Allow the removing of some unwanted characters in selector results"
Some documentations adds a `¶` sign in the markup of their titles. It is only displayed on mouse over, but is present in the HTML, thus it is indexed.

Example:
![image](https://cloud.githubusercontent.com/assets/283419/12122373/d36e3bbc-b3da-11e5-8102-5503e6f7aa36.png)
![image](https://cloud.githubusercontent.com/assets/283419/12122380/de4cb61c-b3da-11e5-8850-7018339ade47.png)

We need a way to p

[2016-01-05 17:38] #11 closed, assigned to nobody

[2016-01-05 17:59] pixelastic opened #35 "List of pending documentations"
I'll aggregate here the list of pending documentation requests from HelpScout, ordering them by missing feature in order to complete them. Feel free to check them out or add new ones
- [x] http://senecajs.org/ ([HelpScout](https://secure.helpscout.net/conversation/153488051/4742/?folderId=696696)) Done, mail sent (too quickly), connector not yet working, waiting for merge v2 into master.
- [ ] htt

[2016-01-05 18:03] pixelastic opened #36 "Playground: Make the config editable"
We currently have a `playground.html` page that lets us test our configs. `apiKey`, `indexName`, etc must be filled manually and one should take care not to commit the file with its changes.

Instead, we should follow the way the generator is working, and making the config options directly editable through input fields and updated in real time.

[2016-01-05 18:05] pixelastic opened #37 "Playground: Quick switch between configs"
We could add a dropdown menu to the `playground.html` file that allow users to quickly switch from one config to another. This will let us easily test all the configs of customer currently live in production and check that everything is working correctly.

[2016-01-06 11:28] pixelastic opened #38 "Allow bypassing the lvl0"
For documentations that have only 1 or 2 levels, the default display adds too many constraints. We usually do not need the lvl0, and would want to start the hierarchy at the lvl1, and only display two columns without the horizontal bars.

Using default values for lvl0, we could easily set it to a hardcoded "Documentation" string, and then in the front end hide the bar using CSS.

But this will lea

[2016-01-11 12:23] #32 closed, assigned to nobody

[2016-01-11 12:24] #31 closed, assigned to nobody

[2016-01-11 13:41] maxiloc opened #42 "Rename text to content in the selector configuration"
- Just need to be BC

[2016-01-11 13:45] #12 closed, assigned to nobody

[2016-01-11 15:15] #34 closed, assigned to nobody

[2016-01-11 16:04] #42 closed, assigned to nobody

[2016-01-12 13:28] #38 closed, assigned to nobody

[2016-01-15 09:40] #37 closed, assigned to nobody

[2016-01-15 09:40] #36 closed, assigned to nobody

[2016-01-20 16:17] ElPicador opened #64 "Configuration with `js_wait` as an integer is not taken into account"
If you specify `"js_wait": 10` it take `0.5` as a wait time.
But it works if you do `"js_wait": 10.0`.

I think the issue is here: https://github.com/algolia/documentation-scrapper/blob/master/src/config_loader.py#L132

We only check if the value in a `float` and not a number

[2016-01-20 16:23] aseure opened #65 "Reduce Docker container build time"
The Docker container build time has increased too much since we've added the Splash instance in it. I'm currently splitting the original Dockerfile in two in order to have a _base_ image which has all dependencies preinstalled.

[2016-01-21 09:59] #65 closed, assigned to aseure

[2016-01-21 10:45] ElPicador opened #67 "With "js_render" it indexes the same page multiple times"
With this config, it fetches urls with `../` in them, and so indexes the same page multiple times.
Exemple of output:

[code]

Configuration:

[code]

[2016-01-25 15:10] pixelastic opened #80 "Make `selectors_exclude` optional"
Passing an config without the `selectors_exclude` key should set it as an empty array by default, and not throw an error.

[2016-01-25 15:12] pixelastic opened #81 "Useless id anchor added to url"
On the reindex.io documentation (https://www.reindex.io/docs/), all the scrapped urls have a `#react-mount` anchor appended.

This is because none of the elements of the page have anchor, except the main wrapper that has an `id='react-mount'`.

Apart from asking the owner to add correct anchors to each parts of the hierarchy, would you see a way to prevent the crawler from adding this id?

[2016-01-25 15:32] pixelastic opened #82 "Allow not searching in the url"
We always add the `url,anchor` field to the `attributesToIndex`, and a lot of documentations have urls that follow the website hierarchy.

It means that if I have a page in `/foobar/security.html`, it will always be returned on a search on `foobar`, even if `foobar` is not present in the `security.html` page at all.

I'm wondering if searching in the `url,anchor` should be kept as a default or mov

[2016-01-25 15:33] #13 closed, assigned to nobody

[2016-01-26 08:47] #35 closed, assigned to nobody

[2016-01-26 08:53] ElPicador opened #85 "Some pages are not crawled"
Don't know why.
Exemple:
- https://secure.helpscout.net/conversation/161068886/5492/?folderId=696679
- https://secure.helpscout.net/conversation/153616966/4770/?folderId=696679

[2016-01-26 13:59] #81 closed, assigned to nobody

[2016-01-26 14:00] #80 closed, assigned to nobody

[2016-01-27 08:59] maxiloc opened #91 "Start url as regex"
We should handle start url and not simple string. This would allow us to tag and page rank way more easily.

[2016-01-28 13:54] #91 closed, assigned to nobody

[2016-01-29 14:52] aseure opened #101 "hull.io's selectors are possibly wrong"
It seems all the Help pages from the website (starting with `https://www.hull.io/help`) are not handled with the current selectors i.e. they do not produce any record. Possibly because of `.documentation-body`.

[2016-02-02 17:50] #20 closed, assigned to nobody

[2016-02-08 13:55] #29 closed, assigned to nobody

[2016-02-09 13:42] #82 closed, assigned to nobody

[2016-02-10 11:46] #101 closed, assigned to nobody

[2016-02-10 11:46] #64 closed, assigned to nobody

[2016-02-16 09:37] #85 closed, assigned to nobody

[2016-02-16 09:37] #67 closed, assigned to nobody

[2016-02-16 15:31] ElPicador opened #129 "A's inside h*"
[code]

With this tags, it does not get the `id` of the `a`

[2016-02-24 12:18] #129 closed, assigned to nobody

[2016-02-24 15:40] ElPicador opened #166 "Variables with fixed values are not filtered"
If you have a config like:

[code]

And an URL like `http://doc.akka.io/docs/akka/ruby` exists, `ruby` is added to the list of possible values of `language`

[2016-02-24 17:01] #166 closed, assigned to nobody

[2016-03-03 12:55] ElPicador opened #173 "variables do not work with single page documentation"
Try this:

[code]

The doc is crawled but the objects do not contain the `project` attribute

[2016-05-04 13:50] redox opened #261 "Use a requirements.txt file"
Instead of listing

[code]

we should just rely on `pip install -r requirements.txt`; which is the regular way to handle dependencies with pip.

@ercolanelli-leo do you mind taking care of it?

[2016-05-04 14:16] #261 closed, assigned to nobody

[2016-05-09 09:26] #173 closed, assigned to nobody

[2016-05-10 17:07] vvo opened #270 "Cannot deploy the new configurations"
I was not able to deploy the new places configuration, can you provide guidance on how to do so?

The script I used (deployer/deploy) failed with:

[code]

[2016-05-11 08:23] #270 closed, assigned to nobody

[2016-05-12 13:57] #9 closed, assigned to nobody

[2016-05-12 13:57] #33 closed, assigned to nobody

[2016-05-12 13:58] maxiloc opened #271 "Change the default template"
Put the new default template in the docsearch css

[2016-05-12 13:58] maxiloc opened #272 "Generator cloudflare"
Make the generator clouflarable

[2016-05-12 13:59] maxiloc opened #273 "connected docsearch"

[2016-05-12 13:59] maxiloc opened #274 "cli tool"

[2016-05-12 13:59] maxiloc opened #275 "Make sure the design is responsivish"

[2016-05-12 14:00] maxiloc opened #276 "Have an option in the generator to add the left collumn"

[2016-05-14 22:08] maxiloc opened #278 "Add a command to reindex from cli"

[2016-05-14 22:09] maxiloc opened #279 "Handle errors of the connector api"

[2016-05-15 14:51] maxiloc opened #280 "travis"
only create the dev image

[2016-05-15 15:41] #278 closed, assigned to nobody

[2016-05-15 16:12] #274 closed, assigned to maxiloc

[2016-05-15 16:13] #273 closed, assigned to ercolanelli-leo

[2016-05-19 14:50] maxiloc opened #284 "Add a warning when deploying with non docsearch account"

[2016-05-20 09:39] ElPicador opened #285 "Rexep in start_url and no facet created"
If you forget the trailing `/` in start_url with regexp, you have object without the facet.

Maybe add a warning?
Add automatically a trailing `/`?

[2016-05-23 09:54] LeoErcolanelli opened #288 "Same default image name"
Here: https://github.com/algolia/docsearch-scraper/blob/master/cli/src/commands/build_docker_scraper.py#L11-L18

All containers are built with the same name because of the optional argument here: https://github.com/algolia/docsearch-scraper/blob/master/cli/src/commands/abstract_command.py#L21

Is it to be expected?

[2016-05-23 11:33] #288 closed, assigned to nobody

[2016-05-23 12:20] #284 closed, assigned to nobody

[2016-05-23 12:48] #285 closed, assigned to nobody

[2016-05-23 13:45] #279 closed, assigned to nobody

[2016-05-27 15:23] #280 closed, assigned to nobody

[2016-06-01 13:06] #272 closed, assigned to ElPicador

[2016-06-09 11:42] LeoErcolanelli opened #295 "Implement a task for email deployment"
@maxiloc @ElPicador What do you expect this command to be able to do:
- `./docsearch deploy:emails <config_name>...` To prompt for those particular configurations?
- `./docsearch deploy:emails` to do it only for new/chaged configuration without the other deployment options?

The first one seems more like what you would like, but just to be sure

[2016-06-10 06:35] #295 closed, assigned to ercolanelli-leo

[2016-07-07 09:54] #275 closed, assigned to Shipow

[2016-07-07 09:54] #271 closed, assigned to Shipow

[2016-07-07 09:54] #276 closed, assigned to Shipow

[2016-07-15 06:59] blee1170 opened #305 "Error running docsearch"
I am getting this error when I try to run docsearch to scrape my site:

[code]

Any idea what could be causing it?

[2016-07-15 07:36] ElPicador commented on #305
@ercolanelli-leo Do you have an idea?

[2016-07-15 08:09] ercolanelli-leo commented on #305
@ElPicador Yes I see where it comes from, fixing it ASAP

[2016-07-15 09:55] blee1170 commented on #305
Let me know if you want me to test something.

[2016-07-15 11:19] ercolanelli-leo commented on #305
PR here https://github.com/algolia/docsearch-scraper/pull/306

[2016-07-16 10:54] blee1170 commented on #305
I pull the branch down and gave it a test and got this error:

[code]

I guess that there is still something off?

[2016-07-16 11:10] maxiloc commented on #305
@blee1170 The import error you have does not seem related to the docsearch scraper code but to scrapy. Did you do a  `pip install -r requirements.txt`. I'll check later today see if I can reproduce

[2016-07-16 11:13] blee1170 commented on #305
I just re-ran the command in the branch (just to make sure). but no change. I am also doing it with the --user option because of El Capitan love/hate with python.

Command I ran:
[code]

[2016-07-16 11:30] blee1170 commented on #305
I did a brew install of python and re-ran the pip install. That fixed the above error, but now there is a new one:

[code]

[2016-07-16 11:49] ercolanelli-leo commented on #305
Yes my bad, a quickfix that should not have been that quick. It should be ok now

[2016-07-16 11:49] ercolanelli-leo commented on #305
Yes my bad, a quickfix that should not have been that quick. It should be ok now

[2016-07-16 12:45] blee1170 commented on #305
Yep, that seems to have fixed it. But now I hit another problem. Our doc pages that I want to index are in a git enterprise repo (github pages). And it is failing because it needs to authenticate. Any way past that? Can I add a git token or something?

[2016-07-16 12:53] maxiloc commented on #305
Right now we don't have anything built in for that. I guess you could set js_render to true, if your firefox is logged in it should work.
That for sure something we need to work on

[2016-07-16 12:59] blee1170 commented on #305
I enabled that. But however selenium is launching, its not getting my firefox session info. So it basically gets the same error.

[2016-07-16 13:08] maxiloc commented on #305
Is the login page accessible from internet ?
I had a prototype a few month back. If can you send me the link, I can work on this

[2016-07-16 13:21] blee1170 commented on #305
I will have to check if I could give out the page (company rules might restrict it). It is a github enterprise LDAP auth with 2 factor. But I can get tokens to use for auth which would make it easier.

Sorry for the less then helpful option.

[2016-07-16 13:23] maxiloc commented on #305
Ok meanwhile I'll see what I can do with a double auth website. I'll keep you updated

[2016-07-16 13:24] blee1170 commented on #305
Thanks for you awesome support on this.

[2016-07-16 13:48] maxiloc commented on #305
Just pushed the `auth-website` branch, which allow to open the sign-in page for x seconds before crawling. Can you try it and tell me if it works for you ?

Example with algolia dashboard, which is behind two factor for me:
[code]

[2016-07-16 14:03] blee1170 commented on #305
Yep that worked for me! Although I did not get any records, but I am sure that is just my config.

Again, awesome support. This will help me get me POC further along.

[2016-07-16 14:09] maxiloc commented on #305
Your welcome.
I am merging it to master then, we might change it a bit because it's a bit painful to login at each crawl, I rather have it automatic (at least for login page with double auth), but I think this is the most generic we can do.

[2016-07-16 14:10] blee1170 commented on #305
Oh don't get me wrong, I totally want a automatic way to do the auth as well. But for right now its at least something.

[2016-08-01 19:42] blee1170 commented on #305
Has there been anymore thought on how to deal with a site that has two factor? Or in my case git that could be used with a token?

[2016-08-01 19:55] maxiloc commented on #305
I don't think of any way to handle two factor.
Login page is doable for sure.

[2016-08-01 20:08] blee1170 commented on #305
So I just looked into the git documentation a bit more, and I can pass the token as the password. So that would fix my two factor problem if I could just pass a username/password.

[2016-08-01 20:20] maxiloc commented on #305
Ok I am going to bootstrap something during this week. I'll keep you updated

[2016-08-01 20:20] blee1170 commented on #305
Fantastic!

[2016-08-02 19:36] redox opened #311 "Indexing a `<script>` string breaks the frontend javascript"
We have a title in our documentation that is `<h3>&lt;script&gt; tag with a CDN</h3>`.

Once the scrapper crawls it we end up indexing `"lvl3":"<script> tag using CDNS"` (not sure why we unescape the HTML entities). It turns out that trying to inject that string in any DOM will try to interpret the next tokens using JavaScript.

We should either:
 - not unescape the HTML entities (keep `&lt;script

[2016-08-02 21:21] #311 closed

[2016-08-22 19:53] redox opened #312 "ImportError: No module named builtins"
[code]

[2016-08-22 19:54] redox opened #313 "ImportError: No module named 'algolia_helper' (python 3)"
[code]

[2016-08-22 19:56] redox commented on #312
Works if we activate the env with `. env/bin/activate`

[2016-08-22 19:56] redox commented on #313
Works if we activate the env with `. env/bin/activate`

[2016-08-24 06:07] redox commented on #312
Seems to come from the python->shell script->python mess :)

[2016-08-24 06:08] redox commented on #313
Seems to come from the python->shell script->python mess :)

[2016-09-04 17:48] andreknieriem opened #317 "No module named dotenv"
Hey, I get the error above if I am running docsearch. Of course I run pip install requirements.txt but this doesn't seem to work very well.

I am on a 14.04 Ubuntu with python und python-pip installed.  Maybe someone can help me.

[2016-09-05 06:43] andreknieriem commented on #317
Hey, my "mistake". The pip install fails because I was missing some packages.

[2016-09-05 06:43] #317 closed

[2016-09-05 07:48] redox commented on #317
No worries, let us know how that goes :)

[2016-09-07 11:10] maxiloc commented on #305
I am a bit late, sorry about that, gonna work on that asap

[2016-09-07 11:12] maxiloc commented on #313
I am closing this for now, let's see if that still happens after merging https://github.com/algolia/docsearch-scraper/pull/310

[2016-09-07 11:12] #313 closed

[2016-09-07 11:12] maxiloc commented on #312
Same here, I am closing this for now, let's see if that still happens after merging https://github.com/algolia/docsearch-scraper/pull/310

[2016-09-07 11:12] #312 closed

[2016-09-20 10:08] maxiloc commented on #305
Closing this, we have an on-going PR about this

[2016-09-20 10:08] #305 closed

[2016-09-21 14:08] umeshkalia opened #320 "ImportError: No module named scrapy.linkextractors.lxmlhtml"
While executing following command
./docsearch
I am getting following error
ImportError: No module named scrapy.linkextractors.lxmlhtml

I am using Python 2.7.6 at Centos 6,8.
Here are modules installed listed by command pip list
algoliasearch (1.9.2)
attrs (16.2.0)
cffi (1.8.3)
click (6.6)
cryptography (1.5)
cssselect (0.9.2)
dotenv (0.0.5)
enum34 (1.1.6)
idna (2.1)
ipaddress (1.0.17)
lxml (3.6.4)

[2016-09-27 11:34] maxiloc commented on #320
@umeshkalia Sorry for the delay.

We made some changes to imports.

Can you pull the master branch and try running:

[code]

And tell us how it goes ?

Thanks

[2017-01-13 18:55] maxiloc commented on #320
Closing this. Feel free to reopen if needed

[2017-01-13 18:55] #320 closed

[2017-01-18 22:15] JanPetr opened #326 "Add check for "unknown" parameters in DocSearch config"
I had a `min_indexed_lvl` parameter in a config, but the parameter is actually called `min_indexed_level`. But DocSearch scraper crawled the site as usual and I had no idea there is something wrong.

Is it possible to add a check which would raise a warning message when there are “unknown” parameters in the config?

[2017-01-19 09:08] ElPicador commented on #326
Yeah you are right, I had the same issue :/

We have some validations: https://github.com/algolia/docsearch-scraper/blob/master/scraper/src/config/config_validator.py

It should be pretty easy to had more validations.

[2017-03-29 13:18] stevenbennitt opened #332 "Can't seem to run ./docsearch commands on Windows"
**Issue:**
I cant seem to execute any docsearch commands from various command line tools in Windows.

**Environment:**
- Running Python 2.7.13 with pip
- requirements.txt successfully installed
- Windows Environment Variables - Path set to C:\Python27\Scripts
- docsearch-scraper contents are located in C:\Python27\Scripts

If I open the 'docsearch' file from python I can run it from there, which w

[2017-03-29 13:22] maxiloc commented on #332
Did you try to run:

[code]

If yes, do you have any error and/or stacktrace

[2017-03-29 13:30] stevenbennitt commented on #332
Yeah, no luck. :(

On Wed, Mar 29, 2017 at 8:22 AM, Maxime <notifications@github.com> wrote:

--
Steven Bennett
Sr. Manager, Self-Help & Community

[image: BG - Logo Email.png]

P   +1-888-699-8911

11305 Four Points Drive  Building II, Third Floor  /  Austin, TX 78726

Visit us at    bigcommerce.com <https://www.bigcommerce.com/>
Follow us    News <https://www.bigcommerce.com/press/>   /   Facebo

[2017-03-29 13:31] maxiloc commented on #332
Do you have any error and/or stacktrace ?

[2017-03-29 13:41] stevenbennitt commented on #332
I'm not what that is exactly but hows this?
![2017-03-29_0828](https://cloud.githubusercontent.com/assets/24537992/24457320/74a8beee-145b-11e7-9ed5-7c1d43cb68f9.png)
![2017-03-29_0840](https://cloud.githubusercontent.com/assets/24537992/24457332/7fd9fca6-145b-11e7-89ea-23b40e1cfe9d.png)

[2017-03-29 13:46] ElPicador commented on #332
The syntax `./docsearch run path/to/config.json` is the syntax to launch it on a unix terminal. Do you have cygwin or something similiar to run docsearch?

[2017-03-29 14:44] stevenbennitt commented on #332
Ah, I knew I was missing something. I think that was all that was missing.

Thx!

[2017-03-29 19:32] #332 closed

[2017-03-29 19:44] stevenbennitt opened #333 "Getting "ValueError: CONFIG is not a valid JSON" when running config file"
Trying to run my config file and I'm getting the error **CONFIG is not a valid JSON**

[code]
Not sure what I'm missing.

Here's my config
[code]

[2017-03-30 11:46] ElPicador commented on #333
The error you have `ValueError: CONFIG is not a valid JSON` says that you file is not a JSON.

Probably you mean `./bigcommerce.json` and not `/bigcommerce.json`. There is a dot missing.

`/filename` will try to find a file at the root of your drive, not in the current directory.

[2017-03-30 12:07] stevenbennitt commented on #333
Yep, that was it just had the file path wrong.

[2017-03-30 12:07] #333 closed

[2017-03-31 11:16] stevenbennitt opened #334 "Run multiple config files for same index"
Is there a way to run multiple config files and only update the records that exist in each config?

[2017-03-31 11:16] ElPicador commented on #334
No, but what exactly are you trying to achieve?

[2017-03-31 11:28] stevenbennitt commented on #334
Basically I just need to able to set specific selectors for different pages.
[code]

[2017-03-31 11:37] ElPicador commented on #334
You can do it with `selectors_key`, have a look at this configuration: https://github.com/algolia/docsearch-configs/blob/master/configs/processout.json

This way each `start_url` will have it's own `selectors`

[2017-03-31 11:39] stevenbennitt commented on #334
Ah, that will work, thx!

[2017-03-31 11:39] #334 closed

[2017-06-11 18:58] maxiloc opened #337 "cli performance"
`./docsearch` is getting slower and slower, it's due to imports time.

[2017-08-09 18:01] Haroenv opened #338 "CI that runs on PRs of configs"
If it's an existing config, run that one and suggest to update the `nbHits` in a comment. You could use [Danger](http://danger.systems) for this, since it's an easy way to run some things and comment on GitHub.

Another thing that could be checked is whether it's valid JSON, and if it's a valid docsearch config (by checking if necessary keys are present, and if they have the right values), this is

[2017-08-09 18:18] Haroenv commented on #338
tracked in https://github.com/algolia/docsearch-scraper/issues/338

[2017-09-20 10:06] phrawzty opened #341 "scrap != scrape and this is confusing"
The configuration option `scrap_start_urls` is inherently confusing because scrap and scrape are two different words. In this instance, we want scrape; scrap would be analogous to garbage, or something to discard.

Suggest:

[code]

[2017-09-20 12:31] s-pace commented on #341
You are right, please pull and submit your changes after the coming merge

[2017-09-20 12:32] #337 closed

[2017-09-20 12:33] maxiloc commented on #337
That was fixed in c0dedd10ab98c250f6c065c1672afa47c4cd8afe

[2017-09-25 14:49] phrawzty opened #343 "public "metadata" in the docsearch configs?"
It would be useful for tracking and reporting purposes to have some fields in the configs that aren't necessarily used by the scraper. Immediately I'd like to add:
* `name`: Canonical, human-readable label (such as company or project name) for a given config.
* `human_url`: A URL that a human could go to and get the documentation site.
I'm not married to those key names - suggestions welcome. 😄

[2017-09-25 18:36] #341 closed

[2017-09-27 08:42] phrawzty commented on #343
Oops, I opened this in the wrong repo. Closing.

[2017-09-27 08:42] #343 closed

[2017-11-17 09:33] s-pace opened #359 "TODO Docs"
Hi,

I have written a small scripts in order to have every key currently using. We will need to detail all of them. Here is the outcome:
[code]

[2017-11-17 10:23] s-pace commented on #359
I am going thought the closed issue from the 3 repo. Let's try to explain:

- Explain how the project is structured (3 repos)

- Other commands from ./docsearch

- Defining the required environment to launch the scrapper/crawler

- Feature regarding authentication

- docSearch-configs#244

- avoid using <code> markup (noise)

[2017-11-27 17:53] lottec commented on #338
Hey, is this likely to be picked up soon?

Currently looking at running the scraper on own infra, adding to our CI pipeline, but if this was likely to be added to the Docsearch offering that'd be amazing...!

[2017-11-27 18:01] Haroenv commented on #338
This isn't done yet, but feel free to open a PR @lottec !

[2017-11-28 17:56] s-pace opened #361 "feat(crawler) Avoid indexing record with empty "text" content"
Currently we still indexed record with empty "text" attribute, let's avoid it.

[2018-02-22 16:46] majolo opened #367 "AttributeError: 'ConfigLoader' object has no attribute 'nb_hits_max'"
We're running into this bug when running the scraper, would be nice to get a fix as soon as possible.

The offending line (29 in scraper/src/index.py) seems to have been introduced in the last commit.

[2018-02-22 16:47] majolo commented on #367
@s-pace

[2018-02-22 17:48] s-pace commented on #367
👋 @majolo ,

Just a quick message to let you know that we use this parameter in our environment variables.

You can set a super huge value if you want to avoid any issue.

We keep in mind this issue. We will fix it soone

[2018-03-02 09:06] #367 closed

[2018-03-05 14:21] s-pace commented on #359
Solved algolia/docsearch#269

[2018-03-05 14:21] #359 closed

[2018-03-06 21:24] tatiana-perry opened #371 "Update steps and browser_handler.py"
I had some trouble getting this running.
Since selenium does not work on the new versions of Firefox. I had to download a [previous version](https://support.mozilla.org/en-US/kb/install-older-version-of-firefox#w_i-still-want-to-downgrade-ae-where-can-i-get-the-previous-version). Then I started getting this error:

`selenium.common.exceptions.WebDriverException: Message: Can't load the profile. Pr

[2018-03-08 17:13] s-pace commented on #371
:wave: @tatiana-perry

The recommended version [is described here](https://github.com/algolia/docsearch-scraper/blob/65f14d371872189ed163e13ef721046ed99d943e/scraper/dev/docker/Dockerfile.base#L26)

If you install this precise one (v45.0.2), everything should work fine

[2018-03-08 18:53] tatiana-perry commented on #371
Thanks @s-pace I did get it working and your fix works also.

[2018-03-08 21:29] #371 closed

[2018-04-25 17:07] danielcollettepb opened #378 "ImportError: No module named dotenv"
I cloned the repo and ran `pip install --user -r requirements.txt`, all dependencies installed and I created the `.env` file with the application id and api key.

When I run `./docsearch` I get the following error:

[code]
I tried uninstalling/reinstalling python-dotenv with no luck. Any ideas on how to fix this?

Here is a list of installed packages via `pip freeze`:

[code]

[2018-06-11 14:47] s-pace opened #382 "Error running DocSearch without installing firefox"
[code]

[2018-06-11 14:48] s-pace commented on #382
Solution: Install firefox 45.0.2. [Ref for MAC](https://ftp.mozilla.org/pub/firefox/releases/45.0.2/mac/en-GB/).

[2018-06-11 14:48] #382 closed

[2018-06-11 14:49] s-pace commented on #378
👋 @danielcollettepb

Sorry for the delay. Did you find a way to fix this ?

Did you try [`pip install django_dotenv ` ](https://github.com/theskumar/python-dotenv/issues/6)

[2018-06-11 14:56] danielcollettepb commented on #378
no, we are using a different approach to index page content using the API with puppeteer

[2018-06-11 14:56] #378 closed

[2018-07-03 13:18] oximer opened #385 "Python version"
Should I use python 2 or python 3 to execute this code?

[2018-07-03 14:57] oximer opened #386 "Unreachable hosts"

[2018-07-03 15:02] #386 closed

[2018-08-01 00:49] stonebk commented on #385
Worked for me with python 2.7, not with python 3.

[2018-08-02 11:10] s-pace commented on #385
This tool is only working with python 2.7

🙏 @stonebk

[2018-08-02 11:10] #385 closed

[2018-08-17 09:58] pixelastic opened #391 "Unable do create Docker image"
When running `./docsearch docker:build`, I ran into the following issues:

- Deprecation warning about installing Node 4 (stops the install for 40 seconds)
- Warning about using `apt-get install -y` without `--force-yes`
- Unable to retrieve gpg key

When I add `--force-yes` to all `apt-get install` calls it managed to create the image correctly.

[2018-09-21 18:13] jmarca opened #398 "trivial spelling error s/scrapper/scraper/g"
Sorry if this is an annoyance, but...just noticed that the docker build script creates "...scrapper" not "...scraper"

[code]

Of course, changing this so that the build images are "algolia/documentation-scraper" might break lots of things.

[2018-09-24 10:30] fmarinitrs opened #399 "DocSearch is not capable to run Firefox when the "js_render" option is set"
When we want to scrap a page after the Javascript is run (with the js_render option on the Algolia index config file) and DocSearch is running on a server without GUI, a Firefox window is attempted to be opened but an exception is raised due to that's not doable in that environment.
Solution: Running Firefox on headless mode (and, separately, installing a geckodriver).
Add:
[code]
Modify the webdr

[2018-09-24 13:31] fmarinitrs commented on #399
A workaround to avoid that bug, is using Xvfb and geckodriver. That will avoid the bug keeping all graphical outputs on memory and allowing Javascript execution without the need of the headless mode.

[2018-10-02 12:01] EdenKupe opened #400 "ImportError: No module named dotenv"
Hey guys,

I saw issue #378 but there's no resolution there :) Getting the exact same error as on that issue. I have installed django-dotenv on pip3 but am unable to do so on pip ( since it's recommended to use python3 with latest versions of django ).

Is index.py using pip3/python3 so that it can find the correct module?

Here's my pip3 freeze, as you can see django-dotenv is installed:

`
algol

[2018-10-02 13:43] s-pace commented on #400
👋@EdenKupe

The current version of our scraper does not support python 3.

You can use [pipenv](https://pipenv.readthedocs.io/en/latest/)  with [this Pipfile](https://gist.githubusercontent.com/s-pace/7d93bb40470b90cc1a946cb4b0bee914/raw/a760416913dbb554241d8c4adb330056392dcd32/Pipfile) in order to install the correct environment. Please follow these instructions:

Place the Pipfile in your `docse

[2018-10-03 07:46] EdenKupe commented on #400
Hey!

Created the virtual environment, but got the same error. Tried installing django-dotenv and still encountered the error. Screenshot attached, I've highlighted both times I tried to execute the command, before and after django.

<img width="1207" alt="moduleerror" src="https://user-images.githubusercontent.com/27225905/46396944-795b8f00-c6f9-11e8-9277-e2889e068a7d.png">

[2018-10-03 07:53] s-pace commented on #400
👋 @EdenKupe

Please remove `django-dotenv` and install [`python-dotenv`](https://github.com/theskumar/python-dotenv) instead.

[2018-10-03 07:57] EdenKupe commented on #400
Nice, working well now. Note that I also had to install builtins (with `pip install future`) and requests (with `pip install requests`). Just in case you're looking to add those as dependencies :)

Thanks for your help!

[2018-10-03 07:57] #400 closed

[2018-10-03 12:15] s-pace commented on #399
👋 @fmarinitrs.

Sorry for the delays. Thank you for the information.

When you do not use the dockerized version, you will need to install the supported firefox version on your device. So far the scraper is using [firefox v45.0.2](https://www.mozilla.org/en-US/firefox/45.0.2/releasenotes/). Installing this precise version should fix the error you are struggling with.

We are working on fixing such

[2018-10-03 12:19] s-pace commented on #398
👋 @jmarca

Thank you for reporting. We are aware of this typo and we will remove it in the next development.

[2018-10-03 12:19] #398 closed

[2018-10-04 15:08] pixelastic opened #401 "Should the crawler respect the <meta name="robots" content="noindex,nofollow">?"
A user expected the crawler to respect the `<meta name="robots" content="noindex,nofollow">` meta tag that should tell crawlers to skip a page. We don't honor this tag at all (nor do we honor the `robots.txt`).

I've always considered DocSearch as an opt-in crawler, so not bound to respect those rules as everything it will crawl or not is configured in the config file that each website owner can e

[2018-10-08 16:14] s-pace commented on #401
I do think that creating a dedicated tags would be nice to avoid crawling a small subset of pages. However, let's try to avoid making it a regular practice since it might increase the load of the crawl by downloading more content than required. Providing a dedicated sitemap might be wiser. We will only follow the links from this dedicated documentation sitemap. WDYT?

[2018-10-09 07:16] pixelastic commented on #401
That could be a great idea. Some kind of `docsearch.xml` on the root that would list all the pages to crawl. Or maybe there is a way to re-use the standard `robots.txt` file?

[2018-10-09 08:14] clemfromspace commented on #401
Scrapy already have a built-in support for the robots.txt: https://doc.scrapy.org/en/latest/topics/settings.html?highlight=robot#std:setting-ROBOTSTXT_OBEY
Should be easy to add the Scrapy settings here: https://github.com/algolia/docsearch-scraper/blob/master/scraper/src/index.py#L52

But it will maybe impact existing configurations though.

[2018-10-12 11:49] pixelastic commented on #401
Yep, I think we should not follow robots.txt by default (because changing will not be backward compatible).

My suggestion was that maybe we could reuse the robots.txt syntax to add custom DocSearch information.  Maybe something like:

[code]

[2018-10-17 07:19] s-pace commented on #401
Good idea but let's put this into the configuration.

Let's wait for the codebase refactor? (migrate to python 3)

[2018-10-17 09:13] clemfromspace commented on #401
Yeah, let's wait for the refactor, we can then add a new middleware inspired by the built-in one from scrapy: https://github.com/scrapy/scrapy/blob/master/scrapy/downloadermiddlewares/robotstxt.py#L88

[2018-10-19 07:15] pixelastic opened #404 "DocSearch default User-Agent"
It seems that the following websites refuses the crawling from DocSearch with the default User-Agent we use, and we need to masquerade as Googlebot instead (through the use of the `user_agent` key in the config).

- [ ] apache_pulsar
- [ ] datadoghq
- [ ] iost
- [ ] jupiter_cli
- [ ] react-native
- [ ] stripe-docs-v3
- [ ] tabulator
- [ ] yliyun

I don't think we should masquerade as Googlebot in

[2018-10-19 07:29] pixelastic commented on #404
I'm really surprised by that statement. Most Docusaurus websites are hosted in static platforms like GitHub pages (eg. react-native), and so there is no way the Docusaurus code could react differently to different kind of User-Agent, as this would require to intercept the request in the backend. The backend being GitHub pages, it would mean that all GitHub pages websites would react the same way,

[2018-10-23 08:20] s-pace commented on #404
This is an empirical hypothesis. It definitely worths to dig into this leads. I think that this point is another reason to upgrade to scrapy and python 3.

An example would be to collect some global figures or informations coming from specific metrics like number of views, analytics or any relevant data.

Definitely a good idea to promote our own user_agent. It sounds like it will require some spe

[2018-10-24 10:02] pixelastic commented on #404
Yep, agree. Let's wait until the rewrite for that. We'll need to run a lot of backward compatibility tests to make sure we don't introduce any regression with the rewrite, so we could use that time to also check if changing the UA has any impact on the crawls. In any case, adding the `DocSearch` string to the UA we use will allow owners to react differently on our request if they wish so.

I still

[2018-10-24 11:14] s-pace commented on #404
I can not find an example and it might be a wrong assumption. I felt like some websites were providing within their DOM some specific metrics in order to give more accurate context (for SEO purposes). We could have use these metrics in order to benefit from this data too.

Definitely agree, let's use it as a good point of improvement for our next iteration over the crawler.

[2018-10-30 10:31] pixelastic opened #408 "Only add facets in Algolia options if there is more than one value"
The current snippeter we are using for sending default setup to users is automatically adding facet configuration if some facets are found in the config (which is the case for Docusaurus website by default). This is great and greatly helps users having the correct configuration in their front-end.

In some cases, it creates more output than it should though. For example, a Docusaurus website with

[2018-10-30 10:32] s-pace commented on #408
Definitely something on my TODO. Happy to do it when you are game :)

[2018-10-30 10:39] pixelastic commented on #404
Oh I see. Yep, I've heard that some websites are sending a trimmed down version of their website to Google when they detect it's crawler by Google bot, in order to have better ranking. I don't think it's mainstream though, and I think we can safely ignore this. One more reason to drop the Googlebot UA :)

[2018-11-20 09:22] pixelastic opened #414 "Wrong sitemap for docusaurus websites"
I just did a `./docsearch bootstrap https://secure.helpscout.net/conversation/711746274/108511?folderId=696679` (docusaurus website) and the resulting config contained:

[code]
Instead of
[code]

[2018-11-20 21:53] borekb commented on #391
I'm hitting similar issues, are they resolved in some branch? Thanks.

[2018-11-22 10:38] pixelastic commented on #391
We are currently working on simplifying the build process using the different Docker images, and trimming down the images as well. The pending PR is at https://github.com/algolia/docsearch-scraper/pull/415.

Note that this is currently a WIP, but any feedback/errors you might have on your side could help us :)

[2018-12-07 11:23] #414 closed

[2018-12-10 20:58] mojavelinux opened #422 "Output CI-friendly progress messages"
Currently, the scraper assumes it's writing progress messages to an ANSI-compatible terminal. As a result, the progress messages look like this in a CI environment:

[code]

Either add an option to output plain messages or automatically detect if ANSI color codes are not supported.

The easiest way to accomplish this might be to route the messages through a logger which can be configured separatel

[2018-12-13 07:39] nikomal opened #424 "start"

[2018-12-17 09:03] mojavelinux opened #425 "Allow the nb_hits updater prompt to be bypassed"
When the docsearch run command finishes, and the number of hits has changed, it prompts the user to update the nb_hits field in the configuration file. When used in a CI/CD environment, this causes the job to hang waiting on user input.

Provide a way to either disable or bypass this prompt so that the docsearch run command can be used in an automated environment such as CI. A simple way to contro

[2018-12-17 09:05] mojavelinux commented on #422
I should note that not all CI environments have this problem. For instance, GitLab CI is capable of showing ANSI color codes. Jenkins, on the other hand, is not.

[2018-12-17 09:26] mojavelinux opened #426 "Assign a unique name to the temporary index"
The docsearch scraper writes records to a temporary index, then moves that index into place once scraping is complete. This is done to avoid impacting the primary index when building the replacement. However, it does not consider the case when more than one instance of the docsearch scraper is running at once (as is sometimes the case in CI).

The temporary index is named by appending "_tmp" to th

[2018-12-18 10:38] pixelastic opened #428 "Exception: Env CHROMEDRIVER_PATH='/usr/bin/chromedriver' is not a path to a file"
When trying to run `./docsearch run ./path/to/config` I'm having the following error:

[code]

It seems we are trying to check that Chrome Headless is correctly configured, even if the specified config does not use `js_render`. I managed to work around the issue by adding `CHROMEDRIVER_PATH=/home/tim/local/tmp/foo` to my `.env` file, and setting a `chmod +x` on this file.

We should document this

[2018-12-18 10:53] pixelastic commented on #428
^ I updated documentation in the above PR, and this allowed me to get past the error.

We should still not try to instantiate Chrome if we're not using js_render

[2018-12-19 06:49] #404 closed

[2018-12-19 08:16] Jajcoszek opened #432 "config_loader.py syntax error in docker image"
The latest image (from "an hour ago") seems to be built incorrectly. A syntax error is thrown:
[code]
The extra `doc` is not in the repository, though.

[2018-12-19 11:35] mojavelinux commented on #432
@s-pace @pixelastic Would it be possible to start tagging the Docker images so we can avoid this type of volatility? My builds immediately started failing as well.

[2018-12-19 11:56] s-pace commented on #432
Sorry, didn't know it was used by someone else. I just deploy a new image at this exact time.

New image deployed. Should be fine.

[2018-12-19 11:56] #432 closed

[2018-12-19 11:58] s-pace opened #433 "Add versioning tags to the scraper"
We should tag with version the scraper itself. It will help us to deploy more properly new images.

Then we should update commands `./docsearch docker:build` and `./docsearch deploy:scraper`

cc https://github.com/algolia/docsearch-scraper/issues/432

[2018-12-19 12:06] mojavelinux commented on #432
Thanks @s-pace.

Can I open a new image to add release tags to the Docker image? I'd really like to pin to a specific release so I know what code the CI job is running and it remains stable.

[2018-12-19 12:38] s-pace commented on #432
@mojavelinux you can use `algolia/docsearch-scraper:steady` cc @Jajcoszek

This is just a copy of the current one and it will remain as it.

[2018-12-19 12:42] Jajcoszek commented on #432
@s-pace Great. Thank you very much!

[2018-12-23 11:58] s-pace commented on #426
👋 @mojavelinux
Thank you for this nice improvement.

To be honest, this is not a need on our end. Having this `_tmp` suffix is totally fine. Except if you finish the PR #427, we will not put much effort on solving this. Happy to merge this PR though.

[2018-12-23 12:00] s-pace commented on #425
👋
Same as #426. To be honest, this is not a need on our end. Except if you finish the PR #429, we will not put much effort on solving this. Happy to merge this PR though.

[2018-12-23 12:02] s-pace commented on #422
Having a proper logger is one of our objective at some point. No ETA so far, we will solve this while moving our codebase to a proper python v3/scrapy integration.

[2018-12-23 12:33] mojavelinux commented on #426
I just got sidetracked by holiday activity. I plan to wrap up the PR as you requested asap.

[2018-12-23 12:33] mojavelinux commented on #425
I'll wrap up as requested asap.

I must say though, this is a pretty critical change. Otherwise, the scraper is worthless in CI because it hangs the job. Unless you have no plans for anyone to actually use it...which I don't think is the case ;)

[2018-12-23 12:34] s-pace commented on #426
Thanks!

[2018-12-23 12:34] mojavelinux commented on #422
:+1:

If you need help, don't hesitate to ask. I'll be using docsearch for the foreseeable future, so I'll be around.

[2018-12-23 12:35] s-pace commented on #425
Note that the docker image does not include this updater. You will not face this step using the docker iamge

[2018-12-23 12:36] s-pace commented on #422
Thanks, send us an email, we have a small gift for you :)

[2019-01-10 08:06] mojavelinux commented on #425
I've updated the PR and submitted documentation, as requested.

[2019-01-10 08:30] mojavelinux commented on #426
But it's really not fine because if you have two scrapers running at the same time targeting the same index, you're going to end up with corrupted data. And given the fact that a scraper can be triggered by a webhook, there's a very real possibility of this happening. The whole point of the temporary index is to work in a private space, so it really needs to be private (and that means making it co

[2019-01-10 08:38] mojavelinux commented on #432
This seems like an odd choice. Why not follow the standard practices of this industry and use actual software tags, like 1.1.0? That way, we know not only that the image is "steady", but which software it's actually using.

I'd be happy to help set this up.

[2019-01-16 21:16] geekyP opened #434 "Different Selectors_key for different sitemap.xml files"
I need to use one index for different content sources. I have a sitemap file for each source. Also, I need to use different selectors for each source. Is it possible to use Selectors_key with sitemap urls?

Example:
{
  "sitemap_urls": [
    {
      "url": "http://www.example1.com/docs/sitemap.xml",
      "selectors_key": "faq"
    },
    {
      "url": "http://www.example2.com/docs/sitemap.xml",

[2019-01-18 06:00] astyfx opened #435 "What is the proper lvl selector for this h6 tag"
https://docs-st.sendbird.com/ios/caching_data_advanced#4_caching_procedures

there is a h6 tag wrapped by two div

h6 tag's text is `Example 1: When entering a channel`

Below is current setting for scrapper
[code]

[2019-02-03 11:32] s-pace commented on #432
Thank you for sharing this.

The crawler used to add version. Since it is not really clear how it was build we want to start something clearer. We need to do some test and we will enhance the releasing process.

Definitely a good point @mojavelinux, we will make it clearer to understand it asap . Please use `steady` in the meantime.

[2019-02-04 20:49] mojavelinux commented on #425
Thanks @s-pace! If there's anything else you need from me, don't hesitate to ask.

[2019-02-04 20:50] mojavelinux commented on #432
Thank you very much for taking this into consideration. I will monitor this issue and continue to use the steady tag in the meantime.

[2019-02-05 13:47] s-pace commented on #434
Hi @geekyP,

It is not possible to use `selectors_key` with `sitemap_urls`.

`selectors_key` are only suited for `star_urls`. Since the `start_urls` are completely different, you could use the following configuration:

[code]

[2019-02-05 13:47] #434 closed

[2019-02-05 13:51] s-pace commented on #435
Please clarify your request. We will assume that this question has been solved by https://github.com/algolia/docsearch-configs/pull/710

[2019-02-05 13:51] #435 closed

[2019-02-05 13:51] s-pace commented on #435
Feel free to re-open if needed

[2019-02-08 07:20] FeynmanZhou opened #436 "ModuleNotFoundError: No module named 'dotenv'"
Hi Team,

I executed ` ./docsearch docker:build` by following this guide:
https://community.algolia.com/docsearch/run-your-own.html
But I got the unexpected return as below,  how to resolve this issue?

[code]

[2019-02-08 07:46] s-pace commented on #436
Hi @FeynmanZhou

Thank you for reaching out. Did you follow the installation step? It is required to correctly run the crawl from the image.

[code]

Let us know

[2019-02-10 08:41] FeynmanZhou commented on #436
Firstly, pipenv was already installed in my CentOS machine,

Then I executed

$ pipenv install
Pipfile.lock (e16df4) out of date, updating to (8eed84)…
Locking [dev-packages] dependencies…
Locking [packages] dependencies…
✘ Locking Failed!
Traceback (most recent call last):
  File "/home/linuxbrew/.linuxbrew/Cellar/pipenv/2018.11.26_1/libexec/lib/python3.7/site-packages/pipenv/resolver.py", line 1

[2019-02-13 08:14] FeynmanZhou commented on #436
Hi @s-pace , any suggestions regarding this scenario?  Thanks.

[2019-02-13 08:31] s-pace commented on #436
Hi @FeynmanZhou, the issue raised is due to the permission of the user running this command (`Permission denied`). It involves your personal set up of `pipenv`.

Could you run this command from a user who has the appropriates Permission?

[2019-03-15 13:26] ArthurFlageul opened #438 "Using the image from dockerhub"
Hi,

I found the docsearch image on [Dockerhub](https://hub.docker.com/r/algolia/docsearch-scraper) but I can't figure out how to run the `run` command.

Here is what I've tried:
`docker run --env-file .env  algolia/docsearch-scraper run config.json`
`docker run --env-file .env  algolia/docsearch-scraper docker:run config.json`

And I get the following message every time:

[code]
Any idea?

[2019-03-15 14:03] s-pace commented on #438
👋 @ArthurFlageul,

You will need to load the config as a variable named `CONFIG` from your .env file and then run:
[code]

You can [see the source here](https://github.com/algolia/docsearch-scraper/blob/master/cli/src/commands/run_config_docker.py#L50) if you need more details regarding the command to run.

Let us know!

[2019-03-15 15:10] ArthurFlageul commented on #438
Hi Sylvain,

Thanks! That works much better 👍  😉
It would be great to document how to use the image in the dockerhub description 👍

[2019-03-15 15:11] #438 closed

[2019-03-15 15:55] s-pace commented on #438
Thank you @ArthurFlageul  You are welcome. Good idea!

Could you share how did you load the configuration into your .env? We would like to promote the most automatised way to do so.

[2019-03-16 15:22] ArthurFlageul commented on #438
What I've done for the moment is simply minifying my `conf.json` file and dumping the minified output in the `.env` file to set `CONFIG={"index_name":"myindex","start_urls":[{"url":"http.....`.

In my case, keeping the indented json file separate for easy editing of the indexing is important.

So if you're looking for user-friendly way to do this, maybe a `config_path` parameter could be useful. T

[2019-03-19 21:39] helfi92 commented on #438
I'm using `docker run -it --env-file=env -e "CONFIG=$(cat docsearch.json | jq -r tostring)" algolia/docsearch-scraper`. Having `--conf_path` would definitely be awesome.

[2019-03-20 12:21] ArthurFlageul opened #439 "Scraper indexes folders, not just their files"
Hi,

My website is behind authentication so to index it, I start a local HTTP server (either HTTPD via the Docker image or using Python's `http.server`).

I have content folders that do not contain index.html files but other html files:

[code]

And somehow, certain folders only, are indexed (along with the content, which is good) 🤔 :
![Screenshot 2019-03-20 at 13 06 04](https://user-images.github

[2019-03-20 12:55] s-pace commented on #438
Thank you @helfi92 We will document this version then.

Introducing a new parameter can introduce some site effect. We will keep your great feedback for our next iteration.

[2019-03-22 09:56] s-pace commented on #439
👋 @ArthurFlageul,

The source of the problem can be both. I would highly recommend you to use a sitemap. You can find [some details here](https://community.algolia.com/docsearch/tips.html#use-a-sitemap.xml). It will be straightforward

Some points to check:
- Make sure that the missing pages are referenced from another crawled one thanks to a hyperlink (`<a/>` tag).
- Make sure the missing pages a

[2019-03-22 09:56] #439 closed

[2019-03-22 09:58] s-pace commented on #436
Closing this inactive issue. Feel free to follow up and reopen it if needed @FeynmanZhou

[2019-03-22 09:58] #436 closed

[2019-03-22 10:25] ArthurFlageul commented on #439
Great, thanks a lot (again) 👍

[2019-03-22 14:06] #425 closed

[2019-04-08 08:55] #433 closed

[2019-04-17 15:24] yousefiparsa opened #444 "Add Python 3 support"
Is it possible to add Python 3 support to Pipfile? We are using Algolia Docsearch Scraper in our automated process and it only supports Python 2.7.

[2019-04-17 15:58] s-pace commented on #444
WIP #443

[2019-05-09 13:25] pranav7 opened #455 "When `js_render: true` is set; `user_agent` option in the config is not respected"
When both `js_render: true` and `user_agent: CUSTOM AGENT` are set in the config file, the User Agent option is not respected by `chromedriver`, instead, the default User Agent is sent.

[2019-05-09 13:40] s-pace commented on #455
Yes that's true. It is documented too.

Might be an enhancement though

[2019-05-09 14:26] pranav7 opened #456 "chromedriver dependency broken in docker image v1.3"
The chromedriver dependency in the latest docker image `v1.3` is broken, and errors out. Below is a stacktrace of the error.

[code]

I did not run into the same issue when I used an older version: `v1.1.0`

[2019-05-09 14:40] pranav7 commented on #455
Thank you for taking a look! I have actually created a PR that fixes this: https://github.com/algolia/docsearch-scraper/pull/454 👀

[2019-05-09 19:04] s-pace commented on #456
You are write, I will update it tomorrow. Sorry for the disappointment, you will enjoy the power of Algolia soon 🚀

[2019-05-13 14:33] #455 closed

[2019-05-14 14:18] #456 closed

[2019-05-17 22:08] mojavelinux opened #459 "Optimize docker image"
The docker image that's being published for this repository is severely fragmented. As a result, it takes a much longer time to download than it should and consumes a lot of extra disk space. I count nearly 30 layers, which occupies close to 2GB. It really should be just one layer. Please optimize the image by consolidating the RUN commands or by using the `--squash` flag when building.

Also, wha

[2019-05-24 15:05] dbmalkovsky commented on #456
I just downloaded the latest docker image from https://hub.docker.com/r/algolia/docsearch-scraper which indicates that it is version 1.3.1. but when I run it it still reports <code>selenium.common.exceptions.SessionNotCreatedException: Message: session not created: Chrome version must be between 70 and 73</code>.

When I list out the docker images it indicates that the image is from 4 weeks ago:

[2019-05-27 11:59] s-pace commented on #456
Hi @dbmalkovsky

Indeed the push failed at some point, fixed now. I have pushed it. Sorry for the inconvenience:

![image](https://user-images.githubusercontent.com/32097720/58418260-9af1f800-8087-11e9-931c-7991a851f440.png)

[2019-05-28 12:34] s-pace commented on #444
Close, we know support python 3.6+ only

[2019-05-28 12:34] #444 closed

[2019-05-28 14:26] ArthurFlageul opened #461 "Most pages are not index"
Hi,

I've been using Docsearch without issue for weeks, but it suddenly seems that most of my content is not indexed.
I'm running a static website built using Sphinx and I host it on locally on `localhost:8080`.

I'm indexing it at the moment running a local install of docsearch (updated to the lastest master), and I'm using the following config:

[code]

I get the following output from docsearch:

[2019-05-28 14:27] ArthurFlageul commented on #461
Got a reponse from @s-pace  on the docsearch repo:

[2019-05-28 15:43] ArthurFlageul commented on #461
Ok so after double checking, it seems to be because i'm running on 8080.

For a bit of context, I'm indexing a private website. So I'm running it locally and I have a Jenkins job running the docsearch docker image on it.
Port 80 is typically reserved on most setups, so I have to use something else when I have Jenkins setup a local server for itself.

How much effort would it be to allow other port

[2019-05-28 16:03] s-pace commented on #461
It just how we parse the URL, using a port will broke everything. I would recommend you to use a local DNS

[2019-05-29 08:58] ArthurFlageul commented on #461
Thanks for the answer.
This is a very unfortunate design decision and it is making things complicated for certain of your paying customers 😞
If there is a way to push a feature to your backlog, I would like to request the ability to crawl any url, regardless of the port.

Anyway, as a first improvement, I think this should be clearly documented.

[2019-05-29 09:01] s-pace commented on #461
This is not a good practice to use a port when live, this is why we do not document it.

Thanks for sharing, I would recommend you to use the default 80 port and avoid to precise it.

🙏

[2019-05-29 12:45] dbmalkovsky commented on #456
Something is still wrong.  When I tried to update to "latest" nothing changed.  So I deleted the container and the image and fetched "latest" into a clean environment.  I then tried to run the "docker run" command and I'm still getting:
`selenium.common.exceptions.SessionNotCreatedException: Message: session not created: Chrome version must be between 70 and 73
  (Driver info: chromedriver=73.0.36

[2019-05-29 13:02] dbmalkovsky commented on #456
And when I list the images:

<pre>
$ docker images
REPOSITORY                  TAG                 IMAGE ID            CREATED             SIZE
algolia/docsearch-scraper   latest              5708d58e3240        4 weeks ago         1.59GB
</pre>

[2019-06-03 12:03] dbmalkovsky commented on #456
@s-pace I just tried a clean install again with the same results.

[2019-06-05 07:04] s-pace commented on #456
Can you download the image `algolia/docsearch-scraper:v1.3.1` . I have used it and it works fine.

[2019-06-09 13:54] dbmalkovsky commented on #456
@s-pace Now that Chrome 75 and is being updated automatically (and Chrome 74 has a few nasty issues) can the chromedriver be updated again to the latest release?

The Latest stable release: [ChromeDriver 75.0.3770.8](https://chromedriver.storage.googleapis.com/index.html?path=75.0.3770.8/).  Thanks much.

[2019-06-09 14:26] #461 closed

[2019-06-09 14:28] s-pace commented on #456
Thanks @dbmalkovsky It seems that chrome is not released yet. We will wait for a stable release #478

[2019-06-09 16:34] dbmalkovsky commented on #456
@s-pace Are you sure about it not being release? My Chrome on both Windows and macOS is Version 75.0.3770.80 (Official Build), this [lists the updates for 75](https://developers.google.com/web/updates/2019/06/nic75) and I posted the link to the Chrome Driver 75.0.3770.7 previously.

[2019-06-10 08:16] s-pace commented on #459
Hi @mojavelinux
Thank you for pointing out the opportunity to optimize the image building! We will add the --squash flash during the building process.

Versioning and release process are definitely something deserving better attention on this project. So far, our main focus is on offering DocSearch configurations and integrations to communities, so that they can benefit from Algolia’s enhanced sea

[2019-06-11 08:17] s-pace commented on #456
It seems that installing the stable version this way is not enough:

[code]

[2019-06-12 22:01] mojavelinux commented on #459
Excellent!

With all due respect, that's not a good excuse for not following good software practices, versioning in particular. You're a very high profile company in tech and it's important that your practices demonstrate the quality of your work. Plus, it's a good way to be a role model.

I'm not going to dwell on past releases. What's done is done. The important thing is that versions are consis

[2019-07-22 12:16] #426 closed

[2019-08-02 10:58] joleroi opened #483 "Scraper does not recognize CHROMEDRIVER_PATH when run from Docker image"
When I try to run the scraper from the Docker image as explained [here](https://community.algolia.com/docsearch/run-your-own.html#run-the-crawl-from-the-docker-image) and [here](https://github.com/algolia/docsearch-scraper/issues/438) I get the following error
[code]

The file, however, exists and the scraper runs just fine when running it manually with

[code]

[2019-08-07 11:00] s-pace commented on #483
Can you try to use the following image algolia/docsearch-scraper:v1.3.1. I will solve it once I am back from PTO

[2019-08-27 11:17] s-pace commented on #483
Closing it since we have not receive any update. A local try on this version works. Feel free to reopen if needed.

[2019-08-27 11:17] #483 closed

[2019-08-27 11:23] s-pace commented on #459
Quick followup regarding the `--squash` flag.

It seems that it is still an experimental feature. We will wait for this feature to be stable before to use it.
[![image](https://user-images.githubusercontent.com/32097720/63767334-ab578000-c8cd-11e9-96f3-432c152eee2b.png)](https://docs.docker.com/engine/reference/commandline/image_build/)

[2019-08-27 11:25] #408 closed

[2019-08-29 11:11] joleroi commented on #483
Note that this fix only works if no `CHROMEDRIVER_PATH` is given in the `.env` file.

[2019-08-29 11:13] s-pace commented on #483
You should not need this env to be set when using the Docker image

[2019-09-10 12:06] s-pace opened #488 "[core] ObjectID is not consistent among crawls"
# Situtation

ObjectID is not consistent from one crawl to another since we let Algolia define this value.

# Issue

Due to these changes int the ID, algolia analytics can not provide accurate data regarding the exact position of the record among the results. It only provides KPI regarding the usage of the search but not the results.

[2019-09-13 13:27] s-pace opened #490 "[core] Setting attributesForFaceting from the config overrides Algolia settings"
# Situation

When a configuration includes `custom_settings.attributesForFaceting`, the index's setting `attributesForFaceting` does not include `tags` anymore. This override the `default_settings` defined by the strategy. `tags` defined from `start_urls` are not longer handled as `attributesForFaceting`

# Result:

It might broke the search for owner filtering over `tags` and break the search. Ha

[2019-09-16 01:56] jacknewwl opened #491 "Error crawling from docker image, invalid JSON"
Hi guys,

I'm trying to crawl but it seems like there's an error and I'm not sure if its syntax error or if I've got the files in the wrong places. Hoping to get some feedback or some guidance. Thanks.

**Input:**
docker run -it --env-file=.env -e "CONFIG=$(cat ./website/config.json | jq -r tostring)" algolia/docsearch-scraper

**Output:**
Traceback (most recent call last):
  File "/root/src/confi

[2019-09-16 10:33] s-pace commented on #491
For the reference, issue solved on Discord.

Troubleshoot:
- `cat` command is not available on windows
- Make sure there is no `'` in the `.env` file
- Make sure the docker image is correctly updated from docker HUB
- Be careful to the typo with algolia/docsearch-scra**p**per. It should be algolia/docsearch-scraper.

[2019-09-17 18:54] GoPro16 opened #492 "Track Last Index Time"
It would be awesome to throw a page up that just displays a list of the last index times for all the configs. I know that it would help me out in knowing exactly the last time my site was indexed rather than waiting 24 hours and maybe missing that it happened 20 minutes after I had made a change to my site.

If you expose this API publicly behind a API Key I would love to contribute and make somet

[2020-01-22 06:54] kamrankausar commented on #320
ImportError: No module named linkextractor
(scrapy_py27_env) kamran@DL1XTEC001:~/scrapy_xerago/scrapy_env/imagecrawler$
Package          Version
---------------- -----------
attrs            19.3.0
Automat          0.8.0
cffi             1.13.2
constantly       15.1.0
cryptography     2.8
cssselect        1.1.0
enum34           1.1.6
functools32      3.2.3.post2
hyperlink        19.0.0
idna

[2020-05-29 19:18] CodeSandwich opened #507 "Documentation outdated"
The [linked documentation](https://docsearch.algolia.com/docs/run-your-own) is out of sync with code in the repository. Following its steps to run the crawler without Docker is impossible, because the commands don't exist anymore.

To be honest I don't think that running a non-dockerized crawler is even possible anymore :thinking:

[2020-05-29 19:35] CodeSandwich opened #508 "docker:build fails"
Running `sudo ./docsearch docker:build` fails with an error:
[code]
I'm using Manjaro, but it happens inside a container, so it shouldn't matter.
<details>
  <summary>The full log</summary>

[code]
</details>

[2020-05-30 09:07] s-pace commented on #508
The related PR should do the trick :)

[2020-05-30 09:08] s-pace commented on #507
Could you clarify please? It is possible to run the crawl within docker thanks to `./docsearch docker:run`

[2020-05-30 13:22] CodeSandwich commented on #507
It seems that neither `./docsearch run /path/to/your/config.json` nor `./docsearch docker:run` exist anymore. Both of them yield `command not found` error. I'm not surprised, because running `./docsearch --help` doesn't print these commands:

[code]

If I understand correctly, the only way to run a crawler now is to build a docker image and use it. This is fine, but the docs need to reflect that.

[2020-05-30 14:27] s-pace commented on #507
Ok so I will fix that but `docker:run` and `run` do work

[2020-05-30 14:29] s-pace commented on #507
It does display the full list of available options once you have set up tour environment variables:

[code]

[2020-05-30 19:22] CodeSandwich commented on #507
Wow, I've never seen CLI behavior like this! :exploding_head:

I'm still having this problem though. I've set up `API_KEY` and `APPLICATION_ID` variables, but I'm still getting no `run` or `docker:run`. What variables did you set?

[2020-05-30 19:24] #507 closed

[2020-05-30 21:19] s-pace commented on #507
All good then. Happy to help! Do not hesitate to raise issue :)

[2020-05-31 07:57] CodeSandwich commented on #461
It just hit me as well. I too think that it should be at least documented or generate a meaningful error. It's a regular procedure to develop and test a website on localhost port 8080, which makes this bug (?) a perfect beginners' trap.

[2020-05-31 09:58] CodeSandwich opened #510 "How to test run a scraper without using up plan?"
I'm polishing the configuration of the scraper, so I need to do many test runs. Unfortunately every run uploads the results to algolia.net, which uses up operations limit in my plan.

How can I run a test of a scraper without uploading the results (or at least without using up my plan)?

[2020-05-31 13:41] CodeSandwich opened #511 "How to handle too big entries?"
My website has some large chunks of uninterrupted text, some of them a bit over 20 KB. When crawling them I'm getting an error, that the record is too big. Is it possible to split it automatically?

[2020-05-31 18:26] s-pace commented on #511
The best way would be to split your content into smaller `<p/>` element. The smaller the record is, the better is the relevance.

[2020-05-31 18:26] #511 closed

[2020-05-31 18:27] s-pace commented on #510
To completely test DocSearch you will have to use Algolia so I definitely recommend to use Algolia.

If you can't, I would recommend to display the records instead of sending them to Algolia. You can edit the scrapper to do so.

[2020-05-31 18:27] #510 closed

[2020-05-31 20:42] 252819 commented on #461
Ok

[2020-06-01 10:30] #508 closed

[2020-06-18 13:08] KingScooty opened #512 "Scraping is expensive. Batch entries to reduce operations?"
Running this scraper appears to be really expensive. Each item scraped counts as an operation, so running this can result in thousands of operations in just one run—even if the items already exist in the index!

Is there a way to batch process the scraping to reduce the amount of operations?

[2020-06-22 08:52] s-pace commented on #512
This is not doable with this scraper and we do not plan to address this feature.

[2020-06-22 08:52] #512 closed

[2020-06-22 08:52] #491 closed

[2020-06-22 08:53] #488 closed

[2020-06-22 08:56] s-pace commented on #338
Issue addressed thanks to this PR:
https://github.com/algolia/docsearch-configs/pull/2059

[2020-06-22 08:56] #338 closed

[2020-07-05 10:28] martavis opened #513 "CONFIG is not a valid JSON"
I'm trying to run the docker image copied directly [from the docs](https://docsearch.algolia.com/docs/run-your-own) and I'm getting the `CONFIG is not a valid JSON` error. This is what I'm running:

[code]
where `algolia-config.json` is at the root of my project. I tried pulling out the `cat algolia-config.json | jq -r tostring` part and running it separately, which worked. Also, here is my projec

[2020-07-05 10:32] martavis opened #514 "Unable to find image 'article:latest'"
After finding a workaround for #513, which forced me to stringify my config separately and paste it after `CONFIG=`, I ran into another issue. The docker image started processing, then I was hit with this:

[code]

Any pointers here?

[2020-07-05 11:25] martavis commented on #514
Running the command in Windows requires running in Git Bash.

[2020-07-05 11:25] #514 closed

[2020-07-05 11:26] martavis commented on #513
Running the command in Windows requires running in Git Bash.

[2020-07-05 11:26] #513 closed

[2020-09-02 14:21] s-pace commented on #399
The scraper is now relying on ChromeDriver. Closing this issue since it is outdated. Let us know if you need more details.

[2020-09-02 14:21] #399 closed

[2020-09-03 09:47] #361 closed

[2020-10-07 12:58] JOHNMDAY-CREATE commented on #490
<tags custom_settings.attributesForFaceting>  tags<attributesForFaceting>
<Bug attributesForFaceting[]([default_overrides](start.urls) >

[2020-10-08 02:02] JOHNMDAY-CREATE opened #531 "<tags custom_settings.attributesForFaceting> tags<attributesForFaceting>"
< custom_settings.attributesForFaceting >  tags< attributesForFaceting >
< attributesForFaceting >https://github.com/algolia/docsearch-scraper/issues/490#issuecomment-704917364_

[2020-10-08 02:53] JOHNMDAY-CREATE commented on #459
Yeah I'm just with what I got broken phone with a mind of owns sorry about that. And thanks input will try to utilize what all of you have told me.
      Again thanks input

[2020-10-08 02:56] JOHNMDAY-CREATE commented on #459
And do mind what very high profile company that is. Maybe thats why they told to come here

[2020-10-08 03:01] JOHNMDAY-CREATE commented on #459
Yeah I'm working on just give time .even though I don't company I own I still the vision that I had when we started.. and I know sounds crazy that I don't know whatcompany I started but I started like 14 I though I ran them into the ground

[2020-10-17 15:17] JOHNMDAY-CREATE commented on #490
`<tags=Custom_settings.attributesForFaceting>``
Tags<start_urls>#490

[2020-10-17 15:21] JOHNMDAY-CREATE commented on #531
< custom_settings.attributesForFaceting >
 tags< attributesForFaceting >
 < attributesForFaceting > #490

[2020-10-17 15:22] #531 closed

[2020-10-20 13:54] JOHNMDAY-CREATE opened #533 "Jeff bishop sent this to me"
https://click.ragingbull.com/t/c/03987c3f74a9496fb78554ce50646ff4-7c1b12b8c0364df886fd1d29dcdd5257

[2020-11-13 17:09] dsmmcken commented on #507
Yeah, I was caught by this too. I am not a python dev, just blindly following the instructions here:
https://docsearch.algolia.com/docs/run-your-own/

I guess I did them a bit out of order.

Make sure you .env file is populated with your keys before you run pipenv shell, if you modify your .env file you have to restart pipenv shell to load your changes. I mean it makes sense, just pipenv is all ne

[2020-11-13 21:13] huguesalary commented on #461
Let me start by saying I really appreciate you guys making this tool open source, it's amazing.

Now, I just got hit by this as well, and it took me many hours before finding this thread.

isn't a good justification. Tons of people run on non default ports. This should _at a minimum_ be documented.

[2020-11-15 18:07] #533 closed

[2021-01-09 23:48] vjpr opened #539 "Allow custom ports for `start_urls`"
See #461.

[2021-01-15 21:31] ProTip opened #540 "Partial index promotion due to scrappy spider signals not being handled"
I have personally experienced `Ctrl-C` resulting in an incomplete index.

The scrappy documentation for `spider_closed` signal, https://docs.scrapy.org/en/latest/topics/signals.html#scrapy.signals.spider_closed , mentions that the reason for the closing should be `finished` under normal circumstances. However the reason could be `shutdown` in the case of a `Ctrl-C` signal stopping the spider.

It

[2021-01-27 20:31] nkuehn commented on #401
from 2018:

Any updates on this issue? It would be great to at least know a decision from Algolia whether adding support for respecting the no-follow meta headers is intended at all or not.

[2021-02-01 19:40] Shipow commented on #401
Hi @nkuehn
As far as I know, nothing is in the pipe regarding this for the moment.
Could you give more detail on how this would impact you experience or technical requirement?

[2021-02-05 21:06] nkuehn commented on #401
Sure:  Our docs site generator supports a markdown frontmatter that triggers the standard meta=noindex HTML tagging to ensure a given page is not indexed in search engines.

There are varying use cases: pre-release documentation, deprecated features that are just documented as an archive,  pages that are just lists or navigation helps and should not appear in search results etc..

These pages are

[2021-02-06 07:36] Shipow commented on #401
Legit. cc @shortcuts We should have a look a the current state of this.
Thanks @nkuehn for taking the time to give more details.

[2021-02-08 09:27] ArthurFlageul opened #543 "Docsearch doesn't update index correctly"
When I run docsearch for indexation using the Docker image, using a clean index, I get roughly 8000 hits.

When I run it again, in the exact same way, I get more than 10k hits and I exceed my quota. How could 2 indexations lead to different hits?

This means I have to clean my index every time I want to index.

[2021-02-08 09:30] shortcuts commented on #543
Hi,

This could be due to some [client-side rendering](https://docsearch.algolia.com/docs/config-file/#javascript-rendering) on your website.

You could try with these options to see if it improves your results.

[code]

Feel free to send me a gist with your config file so I can take a look at it!

[2021-02-09 09:50] ArthurFlageul commented on #543
Hi Shortcuts, thanks for the quick answer.

I just tried adding these options to my config, and it doesn't index anything now? 🤔

[code]

I run docsearch with
[code]

My config looks like this:

[code]

Any clue?

[2021-02-09 10:31] shortcuts commented on #543
Hi @ArthurFlageul,

I just ran 10 crawl tasks with the following config and constantly got `13141 hits`

[code]

Could you please try it on your side?

[2021-02-09 10:43] ArthurFlageul commented on #543
Running this config file leads to more than 10k hits, which is not what I get when I clean my index and run the first indexation, I should get 8018 hits everytime.

From my test and your test:
- `js_wait` seems to break the crawl somehow
- `js_render` doesn't seem to fix the indexing issue

Any other clue?

[2021-02-09 11:05] shortcuts commented on #543
You'd get ~8018 hits if you remove `js_wait` and `js_render` keys, but it could lead to inconsistencies in your search/results as you're not waiting for client-side rendered pages to be loaded, as demonstrated here:

You can decide to exclude all these pages (if you know which one are client-side rendered) (see [stop_urls](https://docsearch.algolia.com/docs/config-file/#stop_urls-optional))

Also,

[2021-02-09 13:06] ArthurFlageul commented on #543
I see, thank you. I'll noodle around a bit more, and thanks for the selector hint!

[2021-02-09 13:06] #543 closed

[2021-02-09 13:07] shortcuts commented on #543
No worries, feel free to let me know if you'd more help!

Have a nice day

[2021-03-15 22:26] PierreR opened #545 "Record quota exceeded at 5k instead of 10k"
I have got the error `algoliasearch.helpers.AlgoliaException: Record quota exceeded. Change plan or delete records.` after 5k instead of 10.

I can't see anything suspicious in my config:
[code]
I have had this error for a long time using version from v1.4.5 to the current master (I have tried all of them).
I use the expected to launch the crawler:
[code]
I had been trying to reduce the content of

[2021-03-18 08:50] shortcuts commented on #545
Hi @PierreR,

I'm not able to try your config, as this is probably a local website.

Could you please contact us at docsearch@algolia.com with the concerned app id/search API key so I could try to reproduce?

Thanks

[2021-03-18 08:50] #545 closed

[2021-03-20 06:14] milindsingh opened #546 "Github action for docsearch scraper"
I have added created a GitHub action for docsearch scraper.
https://github.com/marketplace/actions/algolia-docsearch-action

[2021-04-01 07:43] Yue-plus opened #547 "An error was encountered while executing `./docsearch bootstrap`."
An error was encountered while executing `./docsearch bootstrap`.
执行 `./docsearch bootstrap` 时遇到一个错误。

------

When referring to the [Run your own> Create a new configuration](https://docsearch.algolia.com/docs/run-your-own/#create-a-new-configuration) document, an error occurred when trying to generate the configuration file:
在参考 [Run your own > Create a new configuration](https://docsearch.algol

[2021-04-01 07:45] Yue-plus commented on #547
system environments:
系统环境：

[code]

[2021-04-01 08:02] shortcuts commented on #547
Hi @Yue-plus,

Our scraper requires the Python version `3.6.2`, could you please try again with this one and let me know if the error still occurs?

Also, when you start your `pipenv shell`, it should warn your if you have the wrong version.

[2021-04-01 10:29] Yue-plus commented on #547
Tried again with Python 3.6.2, but this time the error is a little different:
用 Python 3.6.2 又试了一次，但这次错误有些不一样：

![image](https://user-images.githubusercontent.com/33195150/113281133-c4c97500-9317-11eb-950e-9370ae6f1bcc.png)

[code]

[2021-04-01 10:54] shortcuts commented on #547
I'm not able to reproduce, it could be related to your OS.

Here's a [recent similar issue](https://stackoverflow.com/questions/66642705/why-requests-raise-this-exception-check-hostname-requires-server-hostname) from a windows user, could you please try this solution and let me know if the issue is still there?

https://github.com/algolia/docsearch-scraper/blob/master/Pipfile.lock#L448-L455

Thank

[2021-04-01 11:43] Yue-plus commented on #547
After canceling the GitBash proxy settings, the problem was solved:
在取消 GitBash 代理设置后，问题解决了：

[code]

Thank you very much!
非常感谢！

[2021-04-01 13:14] shortcuts commented on #547
Glad to hear that @Yue-plus, thanks for the info!

[2021-04-01 13:14] #547 closed

[2021-04-03 08:34] mojavelinux opened #548 "Add content snippet for lvl-n heading match"
When a query matches a heading, the snippet result is empty. For example, search for "queryHook" in docsearch's own documentation: https://docsearch.algolia.com/search?q=queryHook Now compare that to the search for "queries algolia": https://docsearch.algolia.com/search?q=queries+algolia

The lack of any sort of content preview in the suggestion from the first example makes it seem less relevant t

[2021-04-09 01:45] lorensr opened #549 "Crawler isn't following links"
I'm using the docker container and this config:

https://github.com/GraphQLGuide/book/blob/411bb46629b622a785312f199053e5c55234608d/docsearch.json

When I run the [docker command](https://github.com/GraphQLGuide/book/blob/411bb46629b622a785312f199053e5c55234608d/package.json#L9), I get 303 "nb hits", but they all point to different anchors on the `start_url` page—none of them are for the other pag

[2021-04-09 01:47] lorensr opened #550 "How to de-dup pages?"
When I configure with `"start_urls": ["https://graphql.guide/preface"],`, the scraper picks up `/preface` and `/preface/` as separate pages, and includes them separately in search results. However, they are the same page. How can I de-duplicate them?

[code]

[2021-04-09 02:16] lorensr commented on #549
Posting $50 bounty: https://www.bountysource.com/issues/97706372-crawler-isn-t-following-links

[2021-04-09 07:17] shortcuts commented on #550
Hi @lorensr,

You can chose to stop the scraper for either of the two patterns.

Using the `stop_urls`, you can add any regex you'd like to use:
stop URLs with a trailing slash
`"stop_urls": ["/$"]`
or without
`"stop_urls": [".*(?<!/)$"]`

Hope this answers your question!

[2021-04-09 07:17] #550 closed

[2021-04-09 07:25] shortcuts commented on #549
Hi @lorensr,

The `start_urls` are more of "a pattern of URLs the crawler should accept" than "which URL should I start with", which is why other pages are not crawled.

As the `contents` route doesn't have children, nothing else is found, but if you try with `"start_urls": ["https://graphql.guide/vue"]`, it will work.

One way to solve this issue could be to create a `sitemap.xml` only for the cr

[2021-04-09 07:46] lorensr commented on #549
Thank you so much! Generic solution worked great ☺️

[2021-04-09 07:47] shortcuts commented on #549
No worries, feel free to close the bounty or give it to a charity of your choice :D

[2021-04-09 07:47] #549 closed

[2021-04-14 22:04] shortcuts commented on #548
Thanks for the feedback @mojavelinux.

Is your request only for the `search` page or the DocSearch modal v2/v3?

We try to categorize the results of the modal so the user can instantly differentiate if the result match a header or its content. This is something that is improved in the current DocSearch v3 version and I think adding any further content could lead to confusion when trying to find "y

[2021-05-01 08:29] christophemenager opened #551 "TypeError: argument of type 'NoneType' is not iterable"
Hi there !

I am trying to run the command (I have no env file but env variables are set as global viariables in my terminal)

`docker run -it -e "CONFIG=$(cat algolia.config.json | jq -r tostring)" algolia/docsearch-scraper`

My error :

[code]

On my mac OS 11.3 :
![image](https://user-images.githubusercontent.com/17217868/116776326-1f193b00-aa68-11eb-924c-8b92c600e5fa.png)

[2021-05-18 06:50] mantou132 opened #552 "Crawler does not seem to work on websites that use shadowDOM"
Hello Algolia Devs,

I tried to add search function to [my website](https://gem-book.js.org), but I got the reply that no content can be crawled. Is it because my website uses shadowdom?

Thank you.

[2021-05-18 07:25] shortcuts commented on #552
Hi,

It indeed doesn't seem like it is possible to access to dom via query selectors with the `shadow-root` tag open. I don't know much about shadowDOM but it might be possible to make it work.

As long as you can query selector something from the console, our scraper will be able to get it so you will be able to use DocSearch!

[2021-05-18 08:55] mantou132 commented on #552
Cannot select the content of shadowDOM through css selector or xpath.

To select shadowDOM content like a css selector, need to extend the css selector, such as using `>>`(Outdated specification) instead of shdowDOM boundary: `gem-book >> gem-book-sidebar >> gem-active-link`，when using this selector, replace `>>` with shadowRoot, for example:

[code]

[2021-07-09 14:44] davidejones opened #556 "concurrency settings"
As you might imagine while our content has grown so too has the time to index. Is there anyway the concurrency settings of scrapy could be exposed? or some feature to run sections of an index in parallel be added to a roadmap?

e.g settings like this
[code]

[2021-07-20 08:39] ArthurFlageul opened #557 "Index updated but results not showing up"
Hi,

I've been using docsearch happily for a few months but I've noticed today that some pages do not show up in the search, even though the index has been updated.

Example:
[This page](https://docs.talon.one/docs/dev/tutorials/setting-up-strikethrough-pricing) doesn't generate any search results. That page was merged almost exactly 24 hours ago.
The index seems to have been updated 20 minutes ag

[2021-07-20 08:45] shortcuts commented on #557
Hey @ArthurFlageul,

This `last update` refers to the Analytics of your index. The last crawl was ~25 hours ago, so the new one will be queued and started ASAP!

I'll keep an eye on the crawl task and let you know

[2021-07-20 08:48] ArthurFlageul commented on #557
🤦  I see, thanks. Is there a way to see the date of the last index job in the dashboard?

[2021-07-20 08:55] shortcuts commented on #557
Not yet, sorry!

[2021-07-20 09:50] ArthurFlageul commented on #557
All good now, sorry for the false alarm! 👍

[2021-07-20 09:50] #557 closed

[2021-07-21 14:21] marksou opened #558 "Docker image to support ARM64 Platform"
I'm trying to run the docsearch scraper Docker image on a ARM64 Apple MacBook Pro with the M1 silicon (MacOS v11.4). When running the scraper, I get the following error:

`WARNING: The requested image's platform (linux/amd64) does not match the detected host platform (linux/arm64/v8) and no specific platform was requested`

[2021-08-08 23:06] cameronglegg commented on #558
I am trying to run this scrapper from a Raspeberry Pi and I am in the same boat. It would be great to have an arm version of this container.

[2021-09-01 10:20] mantou132 commented on #552
Hello, I viewed the source code today, I found only a little update can support ShadowDOM.

https://github.com/algolia/docsearch-scraper/blob/master/scraper/src/custom_downloader_middleware.py#L31

Can use custom downloaders to pull all DOM:

[code]

Will get result:
[code]

Next, we only need to delete the `<template>` tag, may be a regular expression

[2021-10-01 12:56] FilippoRezzonico opened #560 "Algolia indexes deleted after an undefined amount of time"
### Situation
docsearch-scraper docker image starts scraping my company [documentation](https://docs.mia-platform.eu/) website any time we deploy a new version of it and correctly updates our indexes. Using the search bar will then return the correct records.
The problem is that, after an undefined amount of time (can be weeks or even months), our algolia search bar will not return any record if u

[2021-10-01 13:24] shortcuts commented on #560
Hey @FilippoRezzonico,

Can you confirm you are using the latest version of the docsearch-scraper docker image?

The only case an index can be unavailable, is at the end of a successful crawl: when the crawler runs, it stores records in a `_tmp` index and rename the index to the production name at the end of the crawl.

[2021-10-04 13:59] FilippoRezzonico commented on #560
Hi @shortcuts,
Yes, we are currently using the latest versione of the docker image.
We only run the scraper when we release a new version of our documentation (while this problems seem to happen randomly).  Moreover, releasing our documentation (which will launch the docsearch-scraper image) seems to restore the correct functioning of our searchbar.
Today, after about 3 days from the last time, ou

[2021-10-05 10:05] shortcuts commented on #560
Could you confirm the index is deleted when the search does not work anymore? If it's the case, I suggest you to contact support@algolia.com (also provide the link of this issue so you don't have to re-explain it) and they will be able to give you information of why your index is deleted.

With our scraper, we always keep the production index up and don't perform delete operations

If the index is

[2021-10-05 13:52] AnthonyGWeb opened #561 "Chrome not reachable"
Hi,

### Problem :

I use docker command line :
`docker run -it --env-file=.env -e "CONFIG=$(cat ./config.json | jq -r tostring)" algolia/docsearch-scraper`

With this config.json :
[code]

And when I have add js_render configuration (to crawl my single page doc), I have this error when I run my docker command :
[code]

I don't know if it's a bug or a bad configuration  of me.
Thanks,

Edit : Work

[2021-11-14 21:49] kingabzpro commented on #491
I have similar problem an its not working for m I tri trouble shooting too.

[2021-11-24 22:02] elucidsoft opened #565 "The error message for host unreachable in older versions was significantly better..."
I have been banging my head trying to get this to work and kept getting host unreachable error. After 3 hours, I tried the 1.13.0 docker image instead. The error message it gave was SIGNIFICANTLY better and I was immediately able to recognize the issue. I really suggest you put that back to how it was, I just wasted an immense amount of time.

[2021-11-24 22:41] shortcuts commented on #565
Hey, could you please provide more context? What are the errors/differences?

The scraper uses the Algolia Python client so I don't think the issue is related to this repo

[2021-11-29 20:21] elucidsoft commented on #565
The error message I was getting was host unreachable on the latest version. On the v1.13.0 message, it told me exactly what was wrong as it showed the entire neterror stack and I could clearly see that I had a malformed credentials.

[2021-11-30 18:59] Markeli commented on #565
I had the same behavior. My auto-update script incorrectly added trailing extra whitespace to  `APPLICATION_ID` , because of that `docsearch-scrapprer` made incorrect hostname. But in the latest version, I got `AlgoliaUnreachableHostException: Unreachable hosts` without any useful information. After downgrading to v1.13.0 I got some details that allowed me to solve the issue.

[2021-12-02 08:12] shortcuts commented on #565
Hey @elucidsoft, @Markeli, looking at the past commit, I can only see one change that could cause that: we upgraded the scraper to the latest major version of our Python client, which might handle errors differently.

I believe using an older version won't change the indexing, most updates were to make the scraper more stable and detect the website structure when bootstrapping config.

Note that p

[2021-12-30 14:15] shortcuts commented on #561
related to https://github.com/algolia/docsearch-scraper/issues/558

Will need further investigation!

[2021-12-30 14:15] #561 closed

[2022-03-13 00:51] jer-k commented on #551
@christophemenager @Zenfection1412 It happens when you don't have `selectors` defined in your config file. I just ran into the same thing.

[2022-06-15 09:55] Karan-S-dev commented on #333
Facing the same error

Traceback (most recent call last):
  File "/root/src/config/config_loader.py", line 101, in _load_config
    data = json.loads(config, object_pairs_hook=OrderedDict)
  File "/usr/lib/python3.6/json/__init__.py", line 367, in loads
    return cls(**kw).decode(s)
  File "/usr/lib/python3.6/json/decoder.py", line 339, in decode
    obj, end = self.raw_decode(s, idx=_w(s, 0).end

[2022-06-15 09:56] Karan-S-dev opened #567 "Getting ValueError: CONFIG is not a valid JSON"
PS C:\Rapidx_Documentation> docker run -it --env-file=.env -e "CONFIG=$(cat ./config.json | jq -r tostring)" algolia/docsearch-scraper

Traceback (most recent call last):
  File "/root/src/config/config_loader.py", line 101, in _load_config
    data = json.loads(config, object_pairs_hook=OrderedDict)
  File "/usr/lib/python3.6/json/__init__.py", line 367, in loads
    return cls(**kw).decode(s)

[2022-06-23 06:11] Nauxscript commented on #561
I got the same error... my mac is M1 pro silicon，so there is still not fixed this problem？

[2022-06-23 06:13] Nauxscript commented on #558
waiting ...

[2022-06-23 07:32] shortcuts commented on #558
Hey, as you can see on the README (https://github.com/algolia/docsearch-scraper#docsearch-scraper) this scraper is not maintained anymore, we now recommend users to upgrade to the new DocSearch version (https://docsearch.algolia.com/docs/migrating-from-legacy).

You can still contribute if you want to fix this issue, we will review it!

[2022-06-23 07:43] Nauxscript commented on #558
thx for reply, I have try the new helper interface, but sadly, its seem to not open for me ...
<img width="740" alt="image" src="https://user-images.githubusercontent.com/13010589/175244161-cf5e8874-985b-44bc-a75c-7a79bb6ad3fe.png">

[2022-06-23 07:45] shortcuts commented on #558
Have you applied and joined the DocSearch program? If so, could you please provide me your project name (or URL) so I can send you an invite?

[2022-06-23 07:51] Nauxscript commented on #558
if you mean fill the form in (https://docsearch.algolia.com/apply/) to apply, yes I applied to join it, yesterday. there is my repo link (https://github.com/Nauxscript/Just-Vim-It), thanks！

[2022-06-23 07:52] shortcuts commented on #558
We will review it and answer via the ticket that has been created, thanks!

[2022-06-26 06:13] matkoch commented on #461
Same here. Let me also say that I genuinely like Algolia, but this here is a bit ignorant

I also spend a good few hours on this and still have no workaround.

[2022-06-29 20:19] dsmmcken commented on #567
Running on windows? That cat and jq command won't run on windows. You need config.json as a single string.

[2022-07-18 17:09] deepfriedbrain opened #568 "Need help with creating a Docker Compose file"
I'm trying to create a docker compose file to run the Docsearch scraper container but I'm not able to get it to work correctly. For CONFIG, if I use $$(cat ./docsearch-config.json | jq -r tostring), I get "ValueError: CONFIG is not a valid JSON". But if I run it on the command line (on MacOS) and hard-code the JSON string into the yaml file, then it works.

Here's my docker-compose file:

    vers

[2022-07-18 21:38] shortcuts commented on #568
[code]

You have an extra `$`, see [command substitution](https://www.gnu.org/software/bash/manual/html_node/Command-Substitution.html)

[2022-07-18 21:47] shortcuts commented on #568
Thinking again, I don't even think it's possible to run the bash command as it's yaml here

You can do it in two step

[code]

[2022-07-18 21:48] shortcuts commented on #568
(closing as it's not a scraper related issue)

[2022-07-18 21:48] #568 closed, assigned to nobody

[2022-07-19 12:55] deepfriedbrain commented on #568
Thanks for your help. That `$$` was intentional because I was getting an error about `$` not being valid in yaml.

Also note that `&&` is not needed. Just prepending `CONFIG` to `docker-compose` works as well.

    CONFIG=$(cat ./docsearch-config.json | jq -r tostring) docker-compose -f docsearch-compose.yml up

[2022-07-19 13:15] shortcuts commented on #568
Yep make sense, it's expected to read variables but having `${myEnvVar}` with the solution above would work

oops typo :D

[2022-08-24 19:51] JuhaszZoltanAntal commented on #567
Could you explain it better? How should my command look like on windows or what should i change in the config.json file?

[2022-08-24 21:49] shortcuts commented on #567
cat and jq are not native to Windows OS, you need to use alternatves to be able to read a file and stringify its output.

In the end, the CONFIG variable must hold the stringified version of your JSON config, you can use any online tool to achieve it.

I'm closing this issue as it has been inactive, feel free to re-open if necessary.

[2022-08-24 21:49] #567 closed, assigned to nobody

[2022-08-24 21:50] shortcuts commented on #567
Also I believe there's an issue already closed with much more detail, I'd recommend you to search in them for Windows solutions

[2022-08-26 09:09] JuhaszZoltanAntal commented on #567
Using git bash solved my problem.

[2022-08-26 09:10] shortcuts commented on #567
Glad to hear that!!

[2022-09-05 01:26] pptfz opened #569 "Docker operation error. Procedure"
System environment：CentOS7.6
docker version: 20.10.17

`docker run -it --env-file=/tmp/.env -e "CONFIG=$(cat /tmp/config.json | jq -r tostring)" algolia/docsearch-scraper`

[code]

cat /tmp/.env
[code]

cat /tmp/config.json
[code]
How do we do that?

[2022-09-08 13:36] pptfz commented on #569
Is this project still maintained? If not, delete it

[2022-09-08 18:51] shortcuts commented on #569
Please read https://github.com/algolia/docsearch-scraper#deprecated. Also make sure to provide context and as much debugging steps as possible when opening issues.

Is that all you have in your config? make it match what we recommend here https://docsearch.algolia.com/docs/legacy/run-your-own#create-a-new-configuration, you need `selectors`

I'm closing this issue as it seems that the documentatio

[2022-09-08 18:51] #569 closed, assigned to nobody

[2022-09-19 10:19] junandaip commented on #461
Gonna up this one cause we need that port feature to test the scraper on a dev environment